@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--LightGray);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qrCode img{
    width: 270px;
    height: 270px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--White);
}

.description {
    width: 270px;
    text-align: center;
    margin-bottom: 25px;
}

.description h1 {
    color: var(--DarkBlue);
    font-size: 17pt;
    font-weight: 700;
    margin: 17px 0;
}

.description span {
    color: var(--GrayishBlue);
    font-size: 12pt;
    font-weight: 400;
}

.attribution {
    color: var(--GrayishBlue);
    font-size: 10pt;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}